@model IEnumerable<VetApp.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Examination.CoverState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Examination.CoverState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
