@model VetApp.Models.PetType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PetType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cover.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cover.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
