@{
    ViewBag.Title = "Мяу-Гау";
}
@section css
{
    <link href='@Url.Content("~/Content/fullcalendar.css")' rel='stylesheet' />
    <link href='@Url.Content("~/Content/fullcalendar.print.css")' rel='stylesheet' media='print' />
}



@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lang/ru.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/App/ViewCalendar.js")"></script>
}




<div class="row">
    <div class="col-md-10">
        <h2>Расписание приемов</h2>
        <div id='calendar'></div>
    </div>
    <div class="col-md-2">
        
    </div>
</div>

@Html.Action("CreateOnTop", "Visits" )
