@model IEnumerable<VetApp.Models.VetWorkTime>

@{
    ViewBag.Title = "Графики работы";
}

<h2>Графики работы</h2>
<p>
    @Html.ActionLink("Время работы", "Index", "WorkTimes")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.VetType.Name) @Html.DisplayNameFor(model => model.Vet.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.Person.Name) @Html.DisplayNameFor(model => model.Vet.Person.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTime)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.VetType.Name) @Html.DisplayFor(modelItem => item.Vet.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.Person.Name) @Html.DisplayFor(modelItem => item.Vet.Person.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTime)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
