<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Ветклиника</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ветклиника", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                    <li class="dropdown">
                        <a href="#" 
                            class="dropdown-toggle" 
                            data-toggle="dropdown" 
                            role="button" 
                            aria-haspopup="true"
                            aria-expanded="false">Управление 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Персонал", "Index", "Vets")</li>
                            <li>@Html.ActionLink("Графики работы", "Index", "VetWorkTimes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Посетители", "Index", "People")</li>
                            <li>@Html.ActionLink("Животные", "Index", "Pets")</li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Справочники</li>
                            <li>@Html.ActionLink("Виды животных", "Index", "AnimalTypes")</li>
                            <li>@Html.ActionLink("Типы животных", "Index", "PetTypes")</li>
                            <li>@Html.ActionLink("Тип персонала", "Index", "VetTypes")</li>
                            <li>@Html.ActionLink("Типы визитов", "Index", "VisitTypes")</li>
                        </ul>
                    </li>
                    }
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
